element.style {
}
www.ign.com/media="screen"
html, body, header, footer, nav, div, span, h1, h2, h3, h4, h5, h6, p, pre, q, blockquote, a, img, dl, dt, dd, ol, ul, li, menu, caption, label, legend, fieldset, form, input, select, textarea, em, bold, strong, i, small, b, sub, sup, tt, object, iframe, applet, abbr, acronym, address, big, cite, code, del, dfn, ins, kbd, samp, var, table, tbody, tfoot, thead, tr, th, td {
border: 0 none;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
padding: 0;
margin: 0;
}
user agent stylesheethtml {
display: block;
}

html {
display: block;
}